.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.squire {
    width: 100px;
    height: 100px;
}

.my-btn {
    border: 2px solid black;
    padding: 1% 3rem;
    letter-spacing: 2px;
    line-height: 40px;
    color: black;
    transition: all .35s;


}

.my-btn:hover {
    background: #016A70;
    color: #fff;
}